@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/*
$modal : {
    bg : #fff
}

$btn : {
    active : ,
    disable :, 
}

*/
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset, button, select, textarea, figure, figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  border: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  color: inherit;
}

fieldset {
  border: none;
}

select {
  font-family: inherit;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input[type=search] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

input[type=text] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

input[type=email] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

input[type=tel] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

input[type=number] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

input[type=password] {
  border: none 0;
  background-color: transparent;
  height: 30px;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Jersey 15", sans-serif;
  font-size: 40px;
}

.page_main {
  padding-top: 110px;
}

.page_header {
  display: flex;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  justify-content: space-around;
  transition: background-color 0.4s ease-in-out;
}
.page_header.open {
  background-color: #000;
  opacity: 0.9;
  color: #fff;
}
.page_header h1 {
  margin-left: 20px;
}
.page_header .gnb {
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
}
.page_header .gnb ul {
  display: flex;
  column-gap: 40px;
}
.page_header .search_box {
  display: flex;
  margin-left: 50px;
}
.page_header .search_box .search_bar {
  border-radius: 20px;
  height: 26px;
  background-color: #000;
  color: #fff;
}
.page_header .my_account {
  width: 34px;
  height: 34px;
  border-radius: 6px;
  background-color: aqua;
  cursor: pointer;
}
.page_header .my_account .account_modal {
  background-color: #000;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 160px;
  color: #fff;
  padding: 10px;
}
.page_header .my_account .account_modal li {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.page_header .my_account .account_modal.open {
  display: block;
}

.main_video {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: #234160;
}
.main_video video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide_main h2 {
  font-family: "Jersey 15", sans-serif;
  font-size: 26px;
}
.slide_main .slide_box {
  display: flex;
  gap: 20px;
}
.slide_main .slide_box li {
  width: 260px;
  flex-shrink: 0;
  height: 330px;
  outline: 1px solid red;
  overflow: hidden;
}
.slide_main .slide_box li a {
  display: block;
}
.slide_main .slide_box li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test {
  position: relative;
  top: 100px;
}

.customer .customer_menu {
  display: flex;
  color: rgb(33, 33, 81);
  cursor: pointer;
  justify-content: space-around;
  margin: 0 20px;
  height: 60px;
}

.customer_list {
  margin-left: 30px;
}

/*# sourceMappingURL=common.css.map */
