.test{
    position: relative;
    top: 100px;
}
    .customer{
        .customer_menu{
            display: flex;
            cursor: pointer;
            justify-content:space-around;
            margin: 0 20px;
            height: 60px;
            color:#a5a5a5;
        }
    }

    .customer_list{
        margin-left: 30px;
    }