footer{
    padding: 80px 0 30px 0;
    .footer_common{
        @include flex($j: flex-start, $g: 20px)
    }
    p{
        padding: 20px 0;
    }

    .page_main{
        border:1px solid #2f2f2f;
        border-width: 1px 0 0 0;
        padding: 30px 0;
        .notice{
            @include flex($j:flex-start);
            .list{
                overflow: hidden;
                height: 26px;
                margin-left: 12px;

                ul{
                    transition: 0.4s;
                }
            }
            li{
                @include flex($j:flex-start);
                line-height:26px;
                
            }
            
        }
    }
}

