.cs_contents{
    .cs_form{
        margin-top: 40px;
        @include border;
            

        li{
            @include flex($j: flex-start,$a:flex-start);
            padding-bottom: 36px;
            color: #a5a5a5;
            font-size: 16px;
            font-weight: 600;
            &:first-child{
                margin-top: 20px;
            }
            .cs_title{
                flex-basis: 280px;
            }

            input[type="checkbox"]{
               border: 1px solid #717171;
                width: 30px;
                height: 30px;
            }

            .qna_input{
                border-radius: 6px;
                width: 100%;
                max-width: 300px;

                input{
                    padding-left: 20px;
                    color: #a5a5a5;
                    width: 100%;
                    background-color: #252525;
                }

                textarea{
                    width: 700px;
                }

                p{
                    font-size: 14px;
                    color: #717171;
                    margin-top: 20px;
                }
            }

            .qna_agreement{
                font-size: 14px;
            }
            
        }
        
        textarea{
            width: 100%;
            height: 160px;
            background-color: #252525;
            resize: none;
            color: #fff;
        }
        
    }

    button{
        padding: 10px;
        border-radius: 20px;
    }
    .cs_cancel{
        background-color: red;
    }

    .cs_confirm{
        background-color: blue;
    }
}


.required{
    display:flex;
    align-items:center; 
    gap:8px;
    &:before{
        content:'';
        width: 5px;
        height: 5px;
        background-color: map-get($form, required);
        border-radius:50%;
        display: block;
        margin-top:-2px;
    }
}

.cs_contents {
    $types : search, email, text, tel;

    input {
        &[type=search], &[type=email], &[type=tel] {
            @extend %input;
        }
    }
    select, textarea {
        @extend %input
    }

    select{
        background: url('/images/icons/arrow_b.svg') no-repeat right  8px center/auto 40%;
        
    }
 
}
