.cs_contents{
    .cs_form{
        margin-top: 40px;
        input{
            border: 1px solid #fff;
        }
        .file_line{
            input{
                border: hidden;
            }
            
        }

        li{
            @include flex($j: flex-start,$g:10px);
            padding-bottom: 20px;
        }
        .content_line{
            display: block;
            textarea{
                width: 100%;
                height: 160px;
            }
        }
    }

    button{
        padding: 10px;
        border-radius: 20px;
    }
    .cs_cancel{
        background-color: red;
    }

    .cs_confirm{
        background-color: blue;
    }
}


