.dimm{
    @include full(fixed);
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 1000;
}
 
 
.page_header{
    .inner{
        @extend %main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .left{
            @include flex;
        }

        .right{
            @include flex($g: 20px);
        }
    }
    position: fixed;
    width: 100%;
    left:0;top:0;
    z-index: 1000;
    transition: background-color 0.4s ease-in-out;
 
    
    &.open{
        background-color: #000;
        opacity: 0.9;
        color: #fff;
    }


    .gnb{
        margin-left: 60px;
        font-size: 16px;
        font-weight: 500;
        ul{
            display: flex;
            column-gap: 40px;
        }
       
    }

    .search_box{
        display:flex;
        margin-left: 50px;

        .search_bar{
            // width:0;
            border-radius: 20px; 
            height: 26px;
            background-color: #000;
            color: #fff;
        }
    }

    .account-container{
        position:relative;
        outline:1px solid red;

        .profile {
            width: 34px;
            height: 34px;
            border-radius: 6px;
            background-color:aqua;
            cursor: pointer;

        }

        .account_modal{
            display: none;
            background-color: rgba(#000, 0.5);
            position: absolute;
            top: 70px;
            right:0;
            width: 160px;
            color: #fff;
            padding: 10px;
            // @include position($p:absolute,$bg:#000,$t:70px,$r:20px)

            li{
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
            &.open{
                display: block;
            }
        }
    }
}

