.icon{
    width: 18px;
    height: 18px;
    display: block;
   
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 18px;


    /*
    &.refresh {
        background-image:url($icon + 'refresh.svg');
    }
    */
}


.web-icon { 
    &:before {
        // content:'\f021';
        font-family:'fontAwesome';
        font-size:20px;
    }
}
 
 
 

.web-icon {
    $icons : f021, f001, f004, f017, f274;
    @each $icon in $icons {
         @debug $icon;
         @include code-icon($icon);
    }
}


.attr-test {
    a[title] {
        color:red;
    }

    a[title="naver"] {
        font-style:italic;
    }

    a[href^="http"] {
        font-size:50px;
    }

    img[src$=svg] {
        border:10px solid red;
    } 
     
}


// .web-icon {
//     @include code-icon(f005);
// }





.web-icon-test {
    $icons : \f001, \f005, \f006;  
    background-color:Red;
    li {
        &:before {
            font-family:'fontAwesome';
        }

        @for $i from 1 through length($icons) {
            &:nth-child(#{$i}){
                &:before{
                    content: quote(nth($icons,$i))
                }
            }
        }
    }
}