.icon{
    width: 18px;
    height: 18px;
    display: block;
    background-image:url($icon + 'clock.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 18px;
}
 