.page_header{
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    left:0;top:0;
    z-index: 1000;
    justify-content: space-around;
    h1{
        margin-left: 20px;
    }

    .gnb{
        margin-left: 60px;
        font-size: 16px;
        font-weight: 500;
        ul{
            display: flex;
            column-gap: 40px;
        }
       
    }

    .search_box{
        display:flex;
        margin-left: 50px;

        .search_bar{
            width:0;
            border-radius: 20px;
            border-color: #000;
            border-width: 2px;
            height: 26px;
            background-color: #000;
            color: #fff;
        }
    }

    .my_account{
        width: 34px;
        height: 34px;
        border-radius: 6px;
        background-color:aqua;
        cursor: pointer;

        .account_modal{
            // display: none;
            background-color: #000;
            position: absolute;
            top: 70px;
            right:20px;
            width: 160px;
            color: #fff;
            padding: 10px;

            li{
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
            &.open{
                display: block;
            }
        }
    }
}

.main_video{
    position: relative;
    width:100vw;
    height: 80vh;
    background-color:#234160;

    video{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;left:0;
        
    }
}


.slide_main{
    h2{
        font-family: "Jersey 15", sans-serif;
        font-size: 26px;
    }
    .slide_box{
        display: flex;
        gap:20px;


        li{
            width: 260px; 
            flex-shrink:0;
            height:330px;
            outline:1px solid red;
            overflow:hidden;
            a {
                display:block;
            }
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }
}
