.live{
    margin: 0 50px;
    .live_title{
        margin-top: 80px;
        background-color: map-get($back, background-color );
        padding: 40px 0;
        @include flex;

        .wrap{
            @include flex;
        }
    }
   
}