.sub_title{
    background-color: map-get($back, background-color );
    margin-top: 80px;

    .qna{
        @include flex($j: center);
        padding: 40px 0;
    }
    .inner{
        padding: 40px 0;
        @include flex;
        @extend %main;

        h2{
            font-size: 26px;
            font-weight: 600;
        }

        ul{
            @include flex;
            li{
                margin-right:20px;
                a{
                    @include flex($g:12px);
                }
            }
        }
    }

    .profile_box{
        @include flex($a:center,$g:20px);

        .my_profile{
            background-color: orange;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.mypage{
    background-color:#234160 ;
}

///mypage///
.account_name{
    background-color: #2f2f2f;
    padding: 60px 0;
    margin-bottom: 50px;
}
.watched{
   h2{
    font-weight: 600;
    padding-bottom: 20px;
   }
   .video_list{
    color: nth($text,2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    li{
        font-weight: 500;
    }

    .video_box{
        height: 170px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom:18px;

    }
   }
}


//live_channel//
.live_main {
    .inner {
        @extend %main;
    }
}
.live_channel_box{
    
    .video_wrapper{  
        margin-top: 80px;
        background-color: #000;

        .module-video { 
            height: 80vh;
        }
    }

    .video_title{
        @include flex($a: flex-start);
        margin-top: 40px;

        h2{
            font-size: 30px;
        }

        strong{
            color: nth($text,2);
            font-weight: 400;
        }

        button{
            background-color: blue;
            padding: 12px 28px;
            border-radius: 30px;
        }
    }

    .three_icons{
        @include flex($j:flex-start,$g: 24px);
        margin: 20px 0;

        li{
            @include flex;
        }
    }
}

.channel_table{
    h3{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 28px;
    }
    ul{
        @include flex;
        color: nth($text,2);
        button{
            color: #fff;
            border: 1px solid #fff;
            width: 80px;
            padding: 7px 0;
            border-radius: 20px;
            margin-left: 20px;
        }
        
        li{
            @include flex;
            border: 1px solid #2f2f2f;
            height: 80px;
        }
    }
}

.all_channel{
    button{
        font-size: 20px;
        margin: 40px 0;
        &:first-child{
            margin-right: 20px;
        }
    }
}

