.live_modal{
    @include center;
    background-color:rgb(51, 53, 48);
    z-index: 101;  
    max-width:500px;
    width:100%;
    display: none;
    border-radius: 8px;

    &.open{
        display: block;
    }

    .close-btn{
        position: absolute;
        top: -5px;
        left: -30px;
    }

    h3{
        background-color: $primary;
        padding: 1em 0.6em;
        border-radius: 8px 8px 0 0;
        font-size: 25px;
        padding-left: 35px;
        font-weight: 600;;
    }

    .modal_list{
        padding: 20px 30px;
        li{
            @include flex($j:flex-start, $g: 20px);
        }
        img{
            width: 200px;
            height: 140px;
            border-radius: 10px;
        }
    }
}