.module-poster {
    margin-top:20px;

    .title {
        font-family: "Jersey 15", sans-serif;
        font-size: 26px;
        
    }

    .list {
        display: flex;
        gap:20px;
        margin-top:20px;

        li{
            flex-basis:260px;
            flex-shrink:0;
            height:330px;
            overflow:hidden;
            border-radius: map-get($corner, round);
            
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            a {
                display:block;
            }
            img{
                width:100%;
                height:100%;
                object-fit:cover;
                transition: 0.5s;
            }
        }
    }
    
}