%main {
    width:100%;
    margin:0 auto;
    max-width:1240px; 
}

%input {
    height:46px;
    border-radius:6px;
    background-color:#252525;
    padding-left:8px;
    border:none;
    width: 100%;
}
  
@include media($mobile) {
    %main {
        max-width:none;
        width:auto;
        padding:0 32px;
    }
}