$img : '../images/';
$photo : $img + 'photos/';
$icon : $img + 'icons/';

$pc : 1240px;
$tablet: 899px;
$mobile: 720px;
$android : 600px;
$ios: 375px;

$corner : (
    base : 3px,
    round : 10px
);

$primary:#1351f9;

// input design - map-get($input, bg);
$input : (
    height : 30px,
    bg : black,
    border : 1px solid red,
    radius : 30px
);

$form : (
    required : #1351f9,
);

$text : #fff, #a5a5a5;
// p { color : nth($text, 2) }

$helpinput:(
    border: 1px solid #2f2f2f,
    color: #a5a5a5,
    background-color: #2f2f2f
);

$blue :  (
    background-color: #1351f9,
    border-radius: 100px,
    display: inline-block,
    color: #fff
);

$back: (
    background-color: #252525
);

// p { color : map-get($text, active);

