
$corner : (
    base : 3px,
    round : 30px
);

// input design
$input : (
    height : 30px,
    bg : black,
    border : 1px solid red,
    radius : map-get($corner, round)
);

$text : #fff, #a5a5a5;
// p { color : nth($text, 2) }

$helpinput:(
    border: 1px solid #2f2f2f,
    color: #a5a5a5,
    background-color: #2f2f2f
);

$blue :  (
    background-color: #1351f9,
    border-radius: 100px,
    display: inline-block,
    color: #fff
)

// p { color : map-get($text, active);

/*
$modal : {
    bg : #fff
}

$btn : {
    active : ,
    disable :, 
}

*/